header {
	background-color: #074e68;
}
header h1, header h2, header h3, header h4, header h5, header h6 {
	color: #fff;
}
footer {
	background-color: #333333;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 10px;
}
.copyright {
	margin: 0;
	color: #ffffff;
}
.centered-text {
	text-align: center;
}